@import 'variables';

.topics {
    background: rgba($main, .1);
    padding: 5px;
    .topic {
        display: flex;
        flex-direction: row;
        background: rgba($secondary, .1);
        padding: 5px;
        margin: 2px 0;
        .spaces {
            color: rgba($secondary, .3);
        }
        .main {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 300px;
            justify-content: start;
            .actions {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 10px;
                
            }
        }
    }
}
