@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

@import 'variables';

body {
    font-size: 16px;
    color: $text;
    font-family: $font;
}

main {
    h1 {
        margin-top: 5px;
        text-align: center;
    }
}

header {
    position: fixed;
    right: 140px;
    width: 140px;
    margin: auto;
    nav {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            li a {
                font-weight: bold;
                text-decoration: none;
                border: solid 1px rgba($main,.2);
                background: rgba($main,.2);
                border-radius: 0 0 $border-rad*2 $border-rad*2;
                padding: 10px;
                margin: 0 5px;
                color: $text;
                &:visited {
                    color: $text;
                }
            }
        }
    }
    @media screen and (max-width: $medium-breakpoint){
        right: 10px;
    }
}

.topics {
    margin-top:10px;
    // background: rgba($main, .1);
    // padding: 5px;
    border-radius: $border-rad;
    .topic {
        border-radius: $border-rad;
        display: flex;
        flex-direction: row;
        background: rgba($secondary, .1);
        padding: 5px;
        margin: 4px 0;
        .spaces {
            color: rgba($secondary, .3);
        }
        .main {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 102px;
            justify-content: start;
            .title {
                display: flex;
                * {
                    padding: 5px;
                    border-radius: $border-rad;
                }
                .info {
                    background: rgba($secondary, .3);
                    // padding: 5px;
                    margin: 0 5px 0 0;
                    border-radius: $border-rad;
                }
                .text {
                    background: rgba($secondary, .5);
                }
            }
            .actions {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
            }
        }
    }
}

button {
    border: 0;
    background: rgba($secondary, .3);
    padding: 5px;
    margin: 0;
    border-radius: $border-rad;
    width: 28px;
    i {
        padding: 0;
        margin: 0;
        color: $text;
        &[class="fas fa-times"] {
            padding-top: 3px;
        }
    }
}

form, .errors {
    display: flex;
    padding: 5px;    
    border-radius: $border-rad;
    background: rgba($main, .3);
    align-items: center;
    justify-content: center;

    .form-group, .error {
        padding: 5px;
    }

    input, .error {
        border-radius: $border-rad;
        border: 0;
        padding: 5px;
        background: rgba($secondary, .5);
    }
}

.errors {
    flex-direction: column;
    .error {
        margin: 3px;
        font-size: 1.2rem;
        padding: 7px;
        background: rgba($secondary, .6);
        &::before {
            content: '! ';
        }
        &:first-of-type {
            margin-top: 10px;
        }
    }
}

#login, #register {
    form {
        flex-direction: column;
        .form-group {
            display: grid;
            grid-gap: 10px;
            grid-template-columns: 1fr 1fr;
            &:last-child{
                grid-template-columns: 1fr;
            }
            label {
                justify-self: end;
            }
        }
    }
}

footer {
    text-align: right;
    margin-right: 10px;
}